<h1>My Dictionary</h1>

<h3>Word Bank</h3>
<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%= word.word_input%></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words in your word bank.</p>
<% end %>

<a href="/words/new">Add a new word</a>
