<h1>My Dictionary</h1>

<form action="/words">
  <div class="form-group">
    <label for="search_input">Search</label>
    <input id="search" name="search_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">SEARCH!</button>
</form>

<h3>Word Bank</h3>
<% if @words.any? %>
<ul>
  <% @words.each do |word| %>
  <li><a href="/words/<%= word.id %>"><%= word.word_input%></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no words in your word bank.</p>
<% end %>

<a href="/words/new">Add a new word</a>
